@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Light', sans-serif;
}

.cntPrincipal {
    padding: 2% 8%;
    min-width: 470px;
    /* background: #0F2027;
    background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);
    background: linear-gradient(to right, #2C5364, #203A43, #0F2027); */
}

.cntServants {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
}

.cntIconServant, .servantIcon {
    width: 75px;
    height: 75px;
    cursor: pointer;
}

.cntIconServant:after {
    content: attr(data-NP);
    position: relative;
    z-index: 10;
    width: 75px;
    font-weight: bold;
    text-shadow: 2px 0 #fff, -2px 0 #fff, 0 2px #fff, 0 -2px #fff, 1px 1px #fff, -1px -1px #fff, 1px -1px #fff, -1px 1px #fff;
    display: block;
    text-align: end;
    top: -45px;
}

.cntIconServant.active:after {
    content: 'NP'attr(data-NP);
}

.disabled {
    filter: grayscale(100%);
    opacity: 0.5;
}

/* Colors for banner tables */
thead[id^="5"] {
    background-color: #FFD700;
}

thead[id^="4"] {
    background-color: #f1bf0c;
}

thead[id^="3"] {
    background-color: #b2b2b2;
}

thead[id^="2"] {
    background-color: #8f8166;
}

thead[id^="1"] {
    background-color: #6F4E37;
}

thead[id^="0"] {
    background-color: #212529;
}

.cntNServants td {
    text-align: center;
}

.tablaInfoServants {
    width: 40% !important;
}

.tablaTotalServants {
    width: 30% !important;
}

.cntTablasInfo {
    display: flex;
    align-items: center;
}

.tablaTotalServants {
    margin-left: 10%;
}

.cntTablaServant {
    text-align: center;
    min-width: 400px;
}

.guardar {
    margin: 5px 0 10px;
}

table.table.table-striped.table-hover.tablaInfoServants td {
    text-align: center;
}

/* Acomodar el boton de descarga */
button.btn.btn-outline-dark.guardar.material-symbols-outlined {
    position: absolute;
    right: 10%;
    height: 30px;
    width: 30px;
    padding: 0;
}

thead[id$="â­"]{
    color: white !important;
    text-shadow: 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black;
}

.cntBotonFinal {
    display: flex;
    justify-content: center;
}

.cntBotonFinal > button{
    width: 10%;
    min-width: 60px;
}

a {
    text-decoration: none !important;
    color: unset !important;
}

.cntEnlaces{
    padding: 2% 8% 0;
}

footer{
    padding: 2% 8%;
}

footer p{
    margin: 0;
}

.tipo_2, .tipo_3, .tipo_4{
    z-index: 20 !important;
    position: relative;
    top: -77px;
    right: -28px;
}

.cntOptions{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 0;
}

.cntSort{
    width: 200px;
}

.cntBtnReset{
    width: 50px;
}